<h1 class="intro">Group Search</h1>
<% if @current_user.present? && @current_user.group_member != true %>
<div class="cinema_screen">
<h3>Search for a Group to join</h3>
<form action="/groups/search/">
  <label>Group Name (or partial name): </label>
  <input type="text" name="name">
  <input type="submit">
</form>
<% elsif @current_user.group_member == true %>
  <p>You are already a member of <%= @current_user.group.name %>. <%= link_to("Leave group?", group_leave_path) %></p>
<% end %>
</div>
