

<div class="over_container">
<h1 class="intro">Group Search</h1>
<div class="cinema_screen"><% @group_search.each do |group| %>
<p><%= link_to(group.name, group_path(group.id)) %></p>
<% end %>
</div>
</div>
