<h1>Movie Night</h1>

<p>Create a new movie night group with your friends. Set up an event for each movie night and where you and your friends can indicate whether you are attending.</p>

<p>Rate each movie and add your comments in the group page!</p>

<h3>New User Process</h3>
<ol>
<li>Visit the site and create a user account.</li>
<li>From here you can create a new group or search for an existing group.</li>
<li>When you find the group you want to join, request access.</li>
<li>The group admin will see your request next time they log in and will approve or deny your request.</li>
<li>When creating a new group, you become the group admin.</li>
<li>Group names must not already exist.</li>
</ol>

<h3>Website Admin</h3>
<p>Website admin has access to view all users, groups and events. Other users are denied access to this information.</p>

<h3>Groups</h3>
<ul>
<li>If a user is a member of a group, they will see a link to this group in the second navigation bar.</li>
<li>Any group member can create an event within the group page.</li>
<li>Within the group page, a list of all events will be shown in descending order of event date.</li>
<li>All group members can indicate their attendance. Once attending, you can remove your attendance if necessary.</li>
<li>The choice of film can be rated by each user. Each user has only one rating but can change ratings by simply clicking on their new rating emoji.</li>
</ul>

<h3>Group Admins</h3>
<p>Group admins may choose to make other users a group admin. This must happen before they are allowed to leave the group, as each group must have at least one admin.</p>
<p>Group admins may remove any other user from the group.</p>
