
<div class="over_container">
  <h1 class="intro">Welcome to Movie Night</h1>
<div class="cinema_screen animated slideInUp">
  <h3>What Do I Do?</h3>
  <p>Create your own movie night group.</p>
  <p>Ask your friends to search for your group and request membership.</p>
  <p>Make sure you accept membership requests from your friends! Do this from the group page.</p>
  <p>Start creating movie night events where you and your friends can signal your attendance.</p>
  <p><%= link_to "Click here", readme_path %> for more information.</p>
</div>
</div>
