// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Passion+One|Anton|Pacifico|Exo);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Codystar);

.feature {
  max-width: 400px;
}

.profile_img {
  max-width: 250px;
  border-radius: 1em;
}

.thumb {
  max-height: 60px;
  max-width: 40px;
}

.person_thumb {
  border-radius: 50%;
  margin-bottom: 6px;
}

.emoji {
  padding: 0 5px 0 5px;
  width: 20px;
  margin: -2px;
  display: inline-block;
}

body {
  // background-color: rgb(254, 225, 105);
  background-color: #ffd173;
  color: rgb(38, 31, 39);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body a {
  text-decoration: none;
  color: #d22418;
}

body a:hover {
  color: #ffd173;
}

.top_nav {
  background-color: #261F27;
  padding: 10px;
}

.top_nav a {
  // color: #FEE169;
  color: #ffd173;
  text-decoration: none;
  padding: 0 15px 0 15px;
}

.top_nav a:hover {
  // color: #F9722E;
  color: #d22418;
}

nav {
  // background-color: #F9722E;
  // background-color: #d22418;
  background-image: image-url('curtain1.jpg');
  background-size: 20px;
  background-repeat: repeat-x;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}

nav a:hover {
  color: #FEE169;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-family: 'Codystar', cursive;
  font-size: 36px;
}

h3 {
  margin: 10px 0 20px 0;
}

h4, h5 {
  display: inline;
  // color: #FEE169;
  color: #ffd173;
}

h4 {
  font-family: 'Anton', sans-serif;
  font-size: 42px;
}

h5 {
  font-family: 'Pacifico', cursive;
  font-size: 38px;
}

h6 {
  font-size: 12px;
  font-style: italic;
}

.title {
  display: inline-block;
  width: 65%;
}

.user_buttons {
  display: inline-block;
  width: 30%;
  text-align: right;
  color: white;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.container {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(255,255,255, 0.7);
  background-size: contain;
  min-height: 100vh;
}

.yield_container {
  box-sizing: border-box;
  padding: 35px;
}

// the over_container is simply the cinema screen div
// sits on welcome and group search pages
.over_container {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  background-image: image-url('Cinema-screen.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 15px;
  margin: -35px;
}

.group_events {
  height: 200px;
  overflow: scroll;
  line-height: normal;
}

.intro {
  color: white;
}

.cinema_screen  {
  padding-top: 50px;
  width :500px;
  margin: 0 auto;
  text-align: center;
}

.search_form {
  display: inline-block;
  padding-right: 5px;
}

.rating_images {
  list-style: none;
  display: inline-block;
  margin-top: -20px;
  margin-left: 10px;
}

.rating_images li {
  display: inline-block;
  padding-left: 10px;
}

.event_film {
  margin-bottom: 15px;
}

.event_film input {
  display: inline-block;
}

.attendee {
  min-width: 50px;
  display: inline-block;
}

.emoji_div {
  display: inline-block;
}

.emoji_div .emoji {
  margin-bottom: -4px;
}

.flex_container {
  display: flex;
  align-items: stretch;
}

.flex_left {
  padding-right: 50px;
  // box-sizing: border-box;
  flex-grow: 1;
}

.flex_right {
  overflow: scroll;
  flex-grow: 1;
  flex-basis: 70%;
  line-height: 10px;
  margin-left: 30px;
}

.flex_center {
  overflow: scroll;
  flex-grow: 1;
}

.movie_details .emoji {
  padding-left: 20px;
}

input {
  min-height: 25px;
  min-width: 75px;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
}

.rails_form {
  margin-left: 100px;
}

.rails_form input {
  min-width: 300px;
  left: 500px;
  position: absolute;
  border: solid 1px gainsboro;
}

.rails_form label {
  width: 200px;
  left:300px;
}

fieldset {
  border: none;
}

.button, .ruby_button * {
  background: #ffd173;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  color: rgb(38, 31, 39);
  // font-family: 'Open Sans', sans-serif;
}

.button:hover, .ruby_button:hover * {
  background: #d22418;
  color: white;
}

.button_small, .ruby_smallbutton * {
  background: #ffd173;
  border: none;
  cursor: pointer;
  height: 25px;
  max-width: 75px;
}

.button:hover, .button_small:hover, .ruby_smallbutton:hover * {
  background: #d22418;
  color: white;
}

.button:focus, .button_small:focus, .ruby_smallbutton:focus * {
  outline: 0;
}

footer {
  background-color: #261F27;
  color: gainsboro;
  font-size: 10px;
  text-align: center;
  padding: 10px 0 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.bottom_links {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

hr {
  border-color: #ffd173;
  border-style: solid;
}

.upload input {
  border: none;
}

.error_div {
  margin-top: 50px;
}
